*{
    box-sizing: border-box;
    font-family: sans-serif;
}
@font-face
    {
    font-family:'dotsfont';
    src:url('dotsfont.eot');
    src:url('dotsfont.eot?#iefix')  format('embedded-opentype'),
        url('dotsfont.svg#font')    format('svg'),
        url('dotsfont.woff')        format('woff'),
        url('dotsfont.ttf')         format('truetype');
    font-weight:normal;
    font-style:normal;
}

label{
    display: block;
    font-size: 1.7rem;
    margin: 1rem;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 1.1rem;
    height: 2.5rem;
    border: 3px solid gray;
    border-radius: 5px;
    margin: 0 1rem;
    width: 20rem;
    outline: none;
    position: relative;
    font-family:dotsfont;
    -webkit-text-security:disc;
    
}
#sub{
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
    padding: 0.4rem 4rem;
    background-color: rgb(30, 97, 30);
    box-shadow: 0 0 5px 2px gray ;
    border: none;
    color: white;
    border-radius: 15px;
}
#show{
    position: absolute;
    transform: translate(-160%, 40%);
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.showIt{
    font-family: sans-serif;
    -webkit-text-security:none;
}
